* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #d0e1ea;
  width: 100%;
  height: 100vh;
  padding: 20px;
}
.control {
  background-color: #3a4452;
  padding: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
}
#display {
  padding: 20px;
  background-color:transparent;
  color: white;
  display: flex;
  font-size: 45px;
  justify-content: flex-end;
  margin: 20px 0;
  text-align: right;
  flex: 1;
  box-shadow: none;
}
.buttons ul {
  display: grid;
  grid-template-columns: repeat(4, 5fr);
  list-style: none;
  gap: 10px;
  padding: 20px;
}

.buttons button {
  width: 50px;
  height: 50px;
  border: 0;
  outline: 0;
  border-radius: 50%;
  box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1), -5px -5px 15px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  margin: 10px;
  text-align: center;
  border: none;
  background-color: transparent;
  color: white;
  font-size: 1.5em;
  padding: 10px;
}

@media only screen and (max-width: 600px){
    .main{
        
        display: flex;
         flex-direction: column;
    justify-content: center;
    align-items: center;
     width: 100%;
     padding: 20px;
    }
    .control {
        background-color: #3a4452;
        padding: 5px;
        border-top-right-radius: 50px;
        border-bottom-left-radius: 50px;
        }
      #display {
        padding: 20px;
        background-color:transparent;
        color: white;
        display: flex;
        font-size: 50px;
        justify-content: flex-end;
        margin: 20px 0;
        text-align: right;
        flex: 1;
        box-shadow: none;
      }
      .buttons ul {
        display: grid;
        grid-template-columns: repeat(4, 5fr);
        list-style: none;
        gap: 10px;
        padding: 15px;
      }
      
      .buttons button {
        width: 50px;
        height: 50px;
        border: 0;
        outline: 0;
        border-radius: 50%;
        box-shadow: -8px -8px 15px ;
        cursor: pointer;
        margin: 10px;
        text-align: center;
        border: none;
        background-color: transparent;
        color: white;
        font-size: 1.2em;
        padding: 10px;
      }
      
}